*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding-bottom: 20px;
    background-image: linear-gradient(to right, #0f3fa6, #1B7BD1);
}

header h1{
    color: #1DD3FF;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.57);
}

div.bem-vindo{
    background-color: #0C3791;
    padding: 20px;
    border-radius: 20px;
}

header a{
    color: #1DD3B9;
    padding: 10px;
    text-decoration: none;
    background-color: #16A16A;
    border-radius: 15px;
}

header img{
    border-radius: 50%;
}

header a:hover{
    text-decoration: underline;
    color:#16A16A ;
    background-color:#1DD3B9 ;
}

.logo{
    display:flex ;
    justify-content: right;
}

main{
    text-align: center;
    background-color: #0f3fa6;
}

main h1, h2{
    padding: 15px;
    background-color: #0C3791;
    color: #16A16A;
}

main h2{
    margin-bottom: 10px;
}

div.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #16A16A;
}


div.conteiner{
    background-color: #1B7BD1;
    border: 3px solid black;
    width: 500px;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.items{
    width: 250px;
    height: 250px;
    border: 2px solid lawngreen;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.miolo{
    border: 1px solid white;
    width: 60px;
    height: 60px;
}

table{
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
}

td, th{
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}



